In [ ]:
''' 1. What exactly is []'''
Ans: [ ] is an empty list.

In [ ]:
''' 
2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? 
 (Assume [2, 4, 6, 8, 10] are in spam.)
'''
 Ans:
spam = [2,4,6,8,10]
spam[2] = "hello"

In [2]:
spam

[2, 4, 'hello', 8, 10]

In [ ]:
'''
Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.
3. What is the value of spam[int(int('3' * 2) / 11)]?
4. What is the value of spam[-1]?
5. What is the value of spam[:2]?
'''

In [7]:
#Ans
spam = ['a','b','c','d']
spam[int(int('3'*2)/ 11)] # this will be spam[3] , 3rd index of spam which is d

'd'

In [8]:
spam[-1] # this is last index of spam which is d

'd'

In [9]:
spam[:2] # this will show 0th and 1st indexed value.

['a', 'b']

In [ ]:
'''
Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.
6. What is the value of bacon.index('cat')?
7. How does bacon.append(99) change the look of the list value in bacon?
8. How does bacon.remove('cat') change the look of the list in bacon?

'''

In [13]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

In [14]:
bacon.append(99) # 99 will be concatenated at the last position of the list
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [16]:
bacon.remove('cat') #this function will remove first 'cat' element from the list this function get terminated as soon as it perform its first successful execution.
bacon

[3.14, 11, 'cat', True, 99]

In [ ]:
'''
9. What are the list concatenation and list replication operators?
'''
Ans:
     + operator act as concatenation operator between two or more lists. it will concatenate all the lists and return 
    all element in a new list.
    * operator act as replication operators for a list. if it is used then it will repeat all the element of list.
    for example

In [37]:
list1 = [1, 2, 3]
list2 = ['a', 'b']

In [38]:
list1 + list2 #elements of list2 will be added at last. position of elements depends on how lists are added.

[1, 2, 3, 'a', 'b']

In [39]:
list2 + list1

['a', 'b', 1, 2, 3]

In [ ]:
'''
10. What is difference between the list methods append() and insert()?
'''
Ans: list append() method appends an object at last in list whereas inser() add an object to a specified indexed position
    for example

In [46]:
x = [3,4,5]
x1 = ['a','b','c','d']
x.append('p') # 'p' will be appended at last position
print(x)
x1.insert(2, 't') # 't' will be inserted at 2nd index position
print(x1)

[3, 4, 5, 'p']
['a', 'b', 't', 'c', 'd']

In [ ]:
'''
11. What are the two methods for removing items from a list?
'''
Ans: pop() and remove() are two method for removing items from a list.
    pop() will remove an specified indexed item from a list. if no argument written then it will remove the last item 
    by default
    remove() will remove the specified element. but it remove first occurance of element only not all.
    for example

In [51]:
a = [1,2,3,4,5]
b = ['a','b','c','d','a','a','b']

a.pop(2) #remove 2nd indexed item i.e. element 3 will be removed
print(a)
b.remove('a') #there is multiple 'a' so this will remove first 'a' only
print(b)

a1 = ['a','b',3,4,5, 5+8j]
a1.pop() # no argument is given so this will remove the last element from the list a1 by default.
print(a1)

[1, 2, 4, 5]
['b', 'c', 'd', 'a', 'a', 'b']
['a', 'b', 3, 4, 5]

In [ ]:
'''
12. Describe how list values and string values are identical.
'''
Ans: indexing and slicing operations are identical for values of list and string. 
    we can concatenate and replicate their values by using + and * operator respectively. both values are iterable.

In [ ]:
'''
13. What's the difference between tuples and lists?

'''
And:1- syntex differences- syntex for list [], syntex for tuple ()
    2- Mutability- list values are mutable but tuple values are immutable. means we can assign a value for a perticular 
       index in list but not in tuple.
    3- Inbuilt functions- there are more inbuilt function in a list than a tuple. in list we can use remove(), pop(), insert()
       operations but this is not available in case of tuple.

In [ ]:
'''
14. How do you type a tuple value that only contains the integer 42?
'''
Ans: if there is only one element as string or integer we should use comma in the bracket after the element like as
    (42,) is a tuple data itself.

In [86]:
x= (42) # this is not tuple
print(type(x))

x1 = (42,)
print(type(x1))

#similarly
x12 = ('vikas',)
print(type(x12))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
'''
15. How do you get a list value's tuple form? How do you get a tuple value's list form?
'''
Ans: we can convert a list values to tuple form By using tuple().
     we also can convert tuple values to list form by using list(). for example

In [87]:
a = [1,2,4,5]
b = ('s','t','u','d')

In [88]:
tuple(a)

(1, 2, 4, 5)

In [89]:
list(b)

['s', 't', 'u', 'd']

In [ ]:
'''
16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
'''
Ans: They contain reference of values.

In [ ]:
'''
17. How do you distinguish between copy.copy() and copy.deepcopy()?
'''
Ans: copy module provides these two functions. copy() performs shallow copy while deepcopy() perform deep copy. let say we
    have two variables a and b. where b = a and if we do some operations on b then it is normal that values of variable a
    would also be get affected. to avoid this we use these functions. for example below

In [6]:
a = [4,5,6,'vikas',7]
b = a

In [8]:
b[4]= 'bharti'

In [9]:
a , b # a also get affected

([4, 5, 6, 'vikas', 'bharti'], [4, 5, 6, 'vikas', 'bharti'])

In [12]:
import copy
a = [4,5,6,'vikas',7]
b = copy.copy(a)

In [13]:
b[4]= 'bharti'

In [14]:
a , b # no impact on variable a

([4, 5, 6, 'vikas', 7], [4, 5, 6, 'vikas', 'bharti'])

In [16]:
a = [4,5,6,'vikas',[7,8,9]]
b = copy.copy(a)
b[4][0] = 'bharti' # if object is compound (nested) then shallow copy will not work.
a , b

([4, 5, 6, 'vikas', ['bharti', 8, 9]], [4, 5, 6, 'vikas', ['bharti', 8, 9]])

In [17]:
a = [4,5,6,'vikas',[7,8,9]]
b = copy.deepcopy(a)
b[4][0] = 'bharti'
a , b

([4, 5, 6, 'vikas', [7, 8, 9]], [4, 5, 6, 'vikas', ['bharti', 8, 9]])