In [ ]:
''' 1.In the below elements which of them are values or an expression? eg: values can be integer or string and expressions 
will be mathematical operators.
* 
'hello'
-87.8
- 
/ 

+
6 '''

Ans:- In given question expressions are *,-,/,+ and values are 'hello', -87.8, 6

In [ ]:
'''2. What is the difference between string and variable?'''

Ans:
#    In python, string is a data type which is written between two double quote " " or single quote ' '.I mean any type of
#    value written between " " or ' ' becomes string. for example 'Hello' or "Hello"or 'Hello123' or '6385' or '*+-/' etc. 
#    all are string values

#    Genrally variable is an entity which is not static. its result depends on the input. In python except True or False it 
#    is just an alphabate, alphanumeric , combination of underscore with alphabate or alphanumeric entity assigned to a data
#    type. for example- X, y, z, x1, hi123, First_name, first1_name etc.
#    Integer or mathematical operators with alphabates at first place can not be assigned as variable in Python. for example
#    1x, 123hello, *x ,@X etc.

In [ ]:
'''3. Describe three different data types?'''

Ans:
#    Integers- combination of all positive numbers and Negetive numbers with zero is an integer. Any desceret quantitative 
#    data is an integer Data type. for example 6, -80, -9999999, 99999999 etc. 

#    Float- Any Quantitative data which takes decimal values is a foat data type. for example 95.50, 45.698 etc.

#    Boolean- Any Data type which take only two values True or False is a boolean data type. numerical value for True and 
#    False is 1 and 0 respectively.

In [ ]:
'''4. What is an expression made up of? What do all expressions do?'''

Ans:-
#    An expression is a combination of Mathematical operators and operands that is interpreted to produce some other value.
#    where operands are the values or variables on which operators Act its computation. for example 4+5-2*2 is an expression
#    and 4,5,2,2 are operands and +-* are operators. if we have assigned x, y, z variables then x+y-z/3 is also an expression
#    where x,y,z,3 are operands.

#    Expressions evaluate its value on the basis of operators.

In [ ]:
'''5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?'''

Ans:-
#    Expression is A piece of code that return a value whereas Statement is entire line of code that perform some sort of
#    action. here spam=10, entire line is called statement. In layman if we have written a code after shift+enter
#    if it doesn't give result in console and save its value inside the system then it is a Statement. for example below-

In [1]:
A=10 # here whole code A=10 is a statement
B=A*5 # here A*5 is Expression but B=A*5 is statement

In [2]:
A*5 # this will produce a result in console. so this is an expression

50

In [3]:
B=A*5 # this will save its value inside the system so it is a statement

In [ ]:
'''6. After running the following code, what does the variable bacon contain?'''
bacon = 22
bacon + 1

# Ans:- variable still contain original value 22

In [4]:
bacon=22
bacon+1

23

In [5]:
bacon

22

In [ ]:
'''7. What should the values of the following two terms be?'''
'spam' + 'spamspam'
'spam' * 3

In [6]:
#Ans : 'spam'+'spamspam', this code will just concatenate two words without space. And 'spam'*3 will repeat spam word 3 
# times. Result can be seen below
'spam'+'spamspam'

'spamspamspam'

In [7]:
'spam'*3

'spamspamspam'

In [ ]:
'''8. Why is eggs a valid variable name while 100 is invalid?'''

Ans:- 
#    eggs is a valid variable because it is a alphabatical word it is not static itself. it can be assigned to any data 
#    type. whereas 100 is an integer which is a static value in itself.

In [ ]:
'''9. What three functions can be used to get the integer, floating-point number, or string version of a value?'''

Ans:
    Lets take a value 100. if we use int(100), float(100), str(100) then we can get 100 as integer value, Float value and 
    string value respectively.

In [8]:
int(100)

100

In [9]:
float(100)

100.0

In [10]:
str(100)

'100'

In [ ]:
'''10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
'''
Ans: We can only concatenate string to string so 99 is an integer value so it can not be concatenate with a string value. 
    Here need to convert integer to string then only we can perform this. To do this we just put 99 in single quote like 
    '99'.
    below i have done this

In [11]:
'I have eaten'+ 99 + ' burritos.' #this will show error

TypeError: can only concatenate str (not "int") to str

In [12]:
'I have eaten'+ ' 99' + ' burritos.' # 99 has been converted to string data

'I have eaten 99 burritos.'